*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { height: 100%; }

body{
    background-color:white;
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    font-weight: normal;
    width: 100%;
}
.logo{
    display: inline-block;
    vertical-align: top;
    width:1000px;
    padding: 10px;
    margin: 10px;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 

  } 
  .navigation a {
    text-decoration: none;
    display: inline-flex;
    padding: 1em;
    color: blue;
  }


.navigation a:hover{ color:black}



#filter{
display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  align-content: center;
}
#filter h3{
    padding-left:20px;
}
.filter-icon{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 30px;
    width: 400px;
    background-color: yellow;
    
}
.filter-icon i{
    border: 10px blue solid;
    border-radius: 30px;
    background-color: blue;
}
.filter-icon p{
    margin: 0 15px;
}

.icon{
    margin: 30px;
    background-color: darkred;
}



#box-search{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
}
#box-search-1 h3, #box-search-1 h5{
    padding-left: 10px;
    margin: 10px;
}

.box-icon{
    padding: 20px;
    display: inline-flex;
}

.icon-search{
    padding: 30px;
}

.icon{
    display: flex;
    justify-content: left;
    flex-direction: row;
}

#container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#box
{
    display: flex;
    width: 900px;
    flex-direction: column;
    justify-content: space-between;
    padding:0px 25px;
    background-color: blue; 
    margin-top: 50px;
    height: 600px;
}
#list
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    justify-content: left;
    padding: 40px;
    border-radius: 20px;

}

#list-hebergement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
   
}

.list-1 img{
    width: 220px;
    height: 130px;
    display: flex;
    border-radius: 10px 10px 0px 0px ;
   
}

.list-1{
    display: flex;
    flex-direction: column;
    background-color:white;
    height:250px;
    width: 230px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.list-1 p{
    margin-top: 10px;
}

.list-name{
    font-weight: 600;
    padding: 10px;
}
.list-price{
    padding: 10px;
}
#list-hebergement{
   margin: 10px;
}


#side-container
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
    width: 400px;
    
}


#list-populaire{
 display: flex;
 flex-direction: column;
 padding: 20px;
 margin: 20px;
background-color: indianred;



}
.list-2 {
    display: flex;
    flex-direction: column;
    background-color: grey;
    height:150px;
    width: 300px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.list-2 img{
    width: 200px;
    height: 200x;
    display: flex;
    border-radius: 10px 10px 0px 0px ;
   
}









footer{
    background-color: grey;
    height: 200px;
    flex-shrink: 1;
    
    bottom:0px;
}

.contenu-footer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex start;
    font-size: 15px;
    padding: 50px 0 100px;
}
.bloc{
    width: 25%;
    margin: 0 28px;
}
.footer-propos h3, .footer-hebergement h3, .footer-assistance h3{
    padding-bottom: 20px;
    font-size: 20px;
}
.liste-propos, .liste-hebergement, .liste-assistance{
    list-style-type: none; 
}
.liste-propos a,.liste-hebergement a,.liste-assistance a {
    text-decoration: none;
    color: black;
}
.liste-assistance li, .liste-hebergement li, .liste-propos li{
    padding: 2px 0;
}
