html { height: 100%; }


body{
    height: 100%;
    font-family:'Raleway', sans-serif;
}

header{
    display: flex;
}
#navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navigation a {
    text-decoration: none;
    color: #0065fc;
    padding: 20px;
}
.logo{
    display: flex;
    justify-items: flex-start;
}

.menu-principal li{
    display: flex;
    flex-direction: row;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.menu1{
    border-top: 2px solid #0065fc;
     
  }

.li{
    display: list-item;
    text-align: right;
    text-decoration: none;
}
#container-search h3{
    font-weight: 1000;
    margin: 20px;
    line-height: 0.5px;
}
.title-search{
    margin: 20px;
}
.wrap{
   display: inline-flex;

}
.wrap i{
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2 ;
    border-radius: 10px 0 0 10px;;
}
.search {
     display: flex;
    }
    
.searchTerm {
    border: 1px solid #f2f2f2;
    border-right: none;
    padding: 5px;
    width: 120px;
    }

.searchTerm2 {
    background-color: #0065fc;
    color: thistle;
    padding: 5px;
    border: #0065fc;
    width: 90px;
    border-radius: 0px 10px 10px 0px;
    color: white;
 }

input::placeholder{
    font-size: small;
    font-weight:600;
    font-family:'Raleway', sans-serif; 
    color: black;
}
#container{
    padding: 20px;
}

#container-filter h3{
   display: inline-flex;
   margin: 20px;
}
.filter{
    display: inline-flex;
    align-items: center;
    padding-right: 10px;
    border: 1px solid #f2f2f2 ;
    border-radius: 20px;
    margin: 5px;

}
.filter .filter-icon{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    background-color:#deebff;
    color: #0065fc;
    margin-right: 20px;
}
.filter p{
    font-weight: 600;
    margin: 10px;
}

.icon{
    display: flex;
    margin: 20px;
    align-items: center;
}

.icon-info {
    width: 25px;
    height: 25px;
    border-radius: 25px;
   border: 2px solid #f2f2f2;
    margin-right: 10px;
    color: #0065fc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}
.icon p{
    font-size:15px;
}
#box
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.etoiles{
  display: flex;
  color: #0065fc;
  margin-left: 20px;
}
.etoiles2{
    color: #f2f2f2;
    line-height: 05px;
}

.note{
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    margin-bottom: 10px;
}
#list-hebergement{
    width: 850px;
    height: 650px;
    background-color:#f2f2f2;
    border-radius: 20px;
   margin-right: 20px;
}
#list-hebergement-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-title{
    margin: 10px;
    padding: 20px;
}
.list-1{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    width: 245px;
    height: 210px;
}

.list-1 img{
    height: 100px;
    border-radius: 10px 10px 0px 0px ; 
    object-fit: cover;

}

.list-name{
    display: flex;
    flex-direction: column;
    font-weight: 800;
    line-height: 5px;
}

.list-price{
    line-height:5px ;
}
#img-resize{
    display: flex;
    flex-direction: column;
    margin: 6px;
    object-fit: cover;
}
.hotel{
    margin: 20px;
    line-height: 5px;
}

#list-populaire{
    width: 400px;
    height: 650px;
    background-color: #f2f2f2;
    border-radius: 20px;
    flex-direction: column;
    margin-right: 10px;
}

#list-populaire-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon-info2{
    color: black;
    display:inline-flex;
    justify-content: flex-end;

}
#list-2{
    background-color: white;
    border-radius: 20px;
    display: flex;
    margin: 10px;
    width: 340px;
    height: 150px;
    margin: 25px;
    margin-top: 10px;

}

#list-2 img{
    width: 140px;
    height: 140px;
    border-radius: 10px 0px 0px 10px ; 
    object-fit: cover;
}

.img-resize2{
    display: flex;
    flex-direction: column;
    padding: 6px;
    object-fit: cover;
}
.list-name2
{
    margin: 10px;
    font-weight: 600;
}
.list-price2{
    margin: 10px;

}
#img-resize2{
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.etoiles-bloc2{
    display: flex;
    margin-left: 10px;
    margin-top: 45px;
    color: #0065fc;
}

.list-act p{
    font-weight: 600;
    margin: 10px;
    line-height: 25px;
}

#list-activite{
    display: flex;
}

.list-act1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 3px 3px #deebff;

}
.list-act2 .list-act3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 3px 3px #deebff;
}


.list-act1 img{
    height: 450px;
    width: 320px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    object-fit: cover;
}
.list-act2 img{
    height: 200px;
    width: 150px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    object-fit: cover;  
}
.list-act3 img{
    height: 200px;
    width: 150px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    object-fit: cover;   
}

.list-act4 img{
    height: 450px;
    width: 320px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}
.list-act5 img{
    height: 200px;
    width: 250px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.list-act6 img{
    height: 200px;
    width: 250px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.bloc-activite img{
    width: 240px;
    height: 160px;

}

footer{
    background-color: #f2f2f2;
    padding: 10px;
}

.contenu-footer{
    display: flex;
    font-size: 15px;
    
}
.bloc{
    width: 100%;
    margin: 20px;
}
.footer-propos h3, .footer-hebergement h3, .footer-assistance h3{
    padding-bottom: 20px;
    font-size: 20px;
}
.liste-propos, .liste-hebergement, .liste-assistance{
    list-style-type: none; 
}
.liste-propos a,.liste-hebergement a,.liste-assistance a {
    text-decoration: none;
    color: black;
}
.liste-assistance li, .liste-hebergement li, .liste-propos li{
    padding: 2px 0;
}





.navigation a:hover{ color:black}