html { height: 100%; }


body{
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    margin-top: 0;
}
@font-face 
{
	font-family: "Raleway";
	src: url('fonts/Raleway-Regular.ttf');
}

@font-face 
{
	font-family: "Raleway";
	font-weight: bold;
	src: url('fonts/Raleway-Bold.ttf');
}


#bloc-page{
    width: auto;
    margin: auto;
}

@media all and (max-width: 767px)
{
    #bloc_page
    {
        width: 100%;
        padding: 0px;
    }
}
header{
    display: flex;
}

#navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navigation a {
    text-decoration: none;
    color: #0065fc;
    padding: 30px;
    font-weight: 500;
}
#menu_hebergement{
    border-top: 2px solid #0065fc;
}
.logo{
    display: flex;
    justify-items: flex-start;
}

.menu-principal li{
    display: flex;
    flex-direction: row;
}
.menu-principal{
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    align-items: center;
}

.li{
    display: list-item;
    text-align: right;
    text-decoration: none;
}
#container-search h1{
    margin: 20px;
    line-height: 0.5px;
    font-weight: 800;
}

#container-search h5{
    font-weight:600;
    font-size: small;
    line-height: 1px;
}
.title-search{
    margin: 20px;
}
.wrap{
   display: inline-flex;

}
.wrap i{
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2 ;
    border-radius: 10px 0 0 10px;;
}
.search {
     display: flex;
    }
    
.searchTerm {
    border: 1px solid #f2f2f2;
    border-right: none;
    padding: 10px;
    width: 200px;
    }

.bouton {
    background-color: #0065fc;
    border: #0065fc;
    width: 115px;
    height:42px;
    border-radius: 0px 10px 10px 0px;
   color: white;
   font-size: medium;
   font-weight: 500;
 }

input::placeholder{
    font-size: medium;
    font-weight:700;
    color: black;
}
#container{
    padding: 20px;
}

#container-filter h3{
   display: inline-flex;
   margin: 20px;
   font-size: medium;
   font-weight: 800;
}
.filter{
    display: inline-flex;
    align-items: center;
    padding-right: 10px;
    border: 2px solid #f2f2f2 ;
    border-radius: 30px;
    margin: 5px;

}
.filter .filter-icon{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    background-color:#deebff;
    color: #0065fc;
}
.filter p{
    font-weight: 800;
    margin: 10px;
}

.icon{
    display: flex;
    margin: 20px;
    align-items: center;
}

.icon-info {
    width: 25px;
    height: 25px;
    border-radius: 25px;
   border: 2px solid #f2f2f2;
    margin-right: 10px;
    color: #0065fc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}
.icon p{
    font-size:15px;
    font-weight: 500;
}
#box
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.etoiles{
  display: flex;
  color: #0065fc;
  margin-left: 20px;
}
.etoiles2{
    color: #f2f2f2;
    line-height: 05px;
}

.note{
    font-weight: 800;
    display: flex;
    justify-content: flex-start;
    line-height: 0;
    padding: 30px ;
    font-size: large;

}
#list-hebergement{
    width: 900px;
    height: 650px;
    background-color:#f2f2f2;
    border-radius: 20px;
   margin-right: 20px;
}
#list-hebergement-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-title{
    margin-left: 30px;
    padding-top: 20px;
    
}
.list-1{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    width: 245px;
    height: 210px;
    ;box-shadow: 0px 5px 10px #dddcdc;
}

.list-1 img{
    height: 100px;
    border-radius: 10px 10px 0px 0px ; 
    object-fit: cover;

}

.list-name{
    display: flex;
    flex-direction: column;
    font-weight: 800;
    line-height: 5px;
}

.list-price{
    line-height:5px ;
}
#img-resize{
    display: flex;
    flex-direction: column;
    margin: 6px;
    object-fit: cover;
}
.hotel{
    margin: 20px;
    line-height: 5px;
}
.pop{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end
}
.populaire{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.populaire i{
   margin-left: 80px;
   margin-top: 25px;

}
#list-populaire{
    width: 400px;
    height: 650px;
    background-color: #f2f2f2;
    border-radius: 20px;
    flex-direction: column;
    margin-right: 10px;
}

#list-populaire-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon-info2{
    color: black;
    display:inline-flex;
    justify-content: flex-end;

}
#list-2{
    background-color: white;
    border-radius: 20px;
    display: flex;
    margin: 10px;
    width: 340px;
    height: 150px;
    margin: 25px;
    margin-top: 10px;
    box-shadow: 0px 5px 10px #dddcdc;

}

#list-2 img{
    width: 140px;
    height: 140px;
    border-radius: 10px 0px 0px 10px ; 
    object-fit: cover;
   
}

.img-resize2{
    display: flex;
    flex-direction: column;
    padding: 6px;
    object-fit: cover;
}
.list-name2
{
    margin: 10px;
    font-weight: 600;
}
.list-price2{
    margin: 10px;

}
#img-resize2{
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.etoiles-bloc2{
    display: flex;
    margin-left: 10px;
    margin-top: 45px;
    color: #0065fc;
}
#container-fin{
    height: 650px;
}

#list-activite{
    display: flex;
    margin: 20px;
    justify-content: space-between;

}
.list-activite2{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    justify-content: space-between;
}

.list-act1, .list-act4{
    background-color: white;
    border-radius: 20px 20px 20px 20px ;
    margin: 10px;
    width: 300px;
    height: 470px;
    box-shadow: 0px 5px 10px #dddcdc;
}

.list-act2{
    background-color: white;
    border-radius: 20px 20px 20px 20px ;
    width: 300px;
    margin: 10px;
    height: 250px;
    box-shadow: 0px 5px 10px #dddcdc; 
}
.list-act3{
    background-color: white;
    border-radius: 20px 20px 20px 20px ;
    width: 300px;
    height: 150px;
    margin: 10px;
    box-shadow: 0px 5px 10px #dddcdc;
}
.list-act5, .list-act6{
    background-color: white;
    border-radius: 20px 20px 20px 20px ;
    width: 300px;
    margin: 10px;
    height: 200px;
    box-shadow: 0px 5px 10px #dddcdc;
}

.list-act1 img{
    height: 420px;
    width: 300px;
    border-radius: 20px 20px 0px 0px ;
    object-fit: cover;
}
.list-act2 img{
    height: 190px;
    width: 300px;
    object-fit: cover; 
    border-radius: 20px 20px 0px 0px ; 
}
.list-act3 img{
    height: 100px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px ;
}

.list-act4 img{
    height: 420px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px ;
}
.list-act5 img{
    height: 150px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px ;
}

.list-act6 img{
    height: 150px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px ;
}
.title-pop{
    font-weight: 600;
    margin: 15px;
}


.bloc-activite img{
    width: 240px;
    height: 160px;
}

footer{
    background-color: #f2f2f2;
}

.contenu-footer{
    width:1000px;
    height: 200px;
    display: flex; 
    justify-content: space-between;
    padding-top: 20px;
   margin-right: 100px;

}

.title-fin{
    font-size: 20px;
}
.liste-propos, .liste-hebergement, .liste-assistance{
    list-style-type: none; 

}
.liste-propos a,.liste-hebergement a,.liste-assistance a {
    text-decoration: none;
    line-height: 20px;
    color: black;
}
.liste-assistance li, .liste-hebergement li, .liste-propos li{
    padding: 2px 0;
}





.navigation a:hover{ color:black}

@media all and (max-width: 480px) and (max-width: 780px)
{


    .menu-principal
    {
        width: auto;
        margin-left: 10px;
        position: static;
        padding-bottom: 5px;
    
    }
    .menu-principal ul
    {
        flex-direction: column-reverse;
        
    }
.menu-principal li
    {
     line-height: 50px;
        display: block;
    }

    .menu-principal a
    {
        font-size: 1.1em;
    }

    .menu-principal a:hover
    {
        border-bottom: 0;
    }
   #menu_hebergement{
       border-top: 0;
       border-bottom:2px solid #0065fc;


   }
   #menu_activite{
    border-bottom:2px solid #f2f2f2;
    margin: 0;
   }
    img{
        flex-direction: column;
    }
    #container-search h1{
        min-width: auto;
        line-height: 30px;
    }
   #container.filter{
       margin-bottom: 50px;
       width: auto;
   }
    .filter-icon{
        flex-direction: column;
        flex-wrap: nowrap;
        width: auto;

    }
    #box{
        width: auto;
        flex-direction: column-reverse;
    }
    #container img{
        width: auto;
        flex-direction: column;
    }
    #list-hebergement{
        width: auto;
        margin:auto;
        height: 1600px;
        background-color: white;
        justify-content: center;
    }
    
    .list-1{
        min-width: 350px;
    }


    #list-populaire{
        min-width: 500px;
        border-radius: 0;
       
    
    }
    #list-populaire-1{
        min-width: 350px;
    }
    #list-2{
        min-width: 350px;

    }
    .name{
        line-height: 20px;
    }
    
    #container-fin{
        width: auto;
        height: auto;
    }

    #box3{
        width: auto;
    }
    #box3 img{
        flex-direction: column;
    }
    #list-activite{
        flex-direction: column;
        width: auto;
        justify-content: center;
    }
   #list-activite img{
       width: 350px;
      height: 100px;
   }
   .list-act1, .list-act2, .list-act3, .list-act4, .list-act4, .list-act5, .list-act6{
       width: 350px;
       height: 150px;
   }

    .contenu-footer{
        height: auto;
        width: auto;
        flex-direction: column;
    }
    .contenu-footer li{
        width: 100%;
        
    }
}